<!-- Toolbar -->
<md-toolbar class="md-toolbar-tools" md-whiteframe="4">
    <md-button class="md-icon-button">
        <i class="material-icons">menu</i>
    </md-button>
    <md-truncate flex>Home</md-truncate>
    <md-button class="md-icon-button">
        <i class="material-icons">settings</i>
    </md-button>
</md-toolbar>

<!-- Body -->
<md-content>
    <div layout="column" layout-align="space-around center" style="margin:20px;" >
        <div style="margin:20px; text-align: center;">
            <p>
                This app consists on
                <a href="http://angularjs.org/" target="_blank">AngularJS</a> and 
                <a href="http://material.angularjs.org/latest/" target="_blank">AngularJS Material</a>.
            </p>

            <p>{{msg}}</p>
        </div>
        
        <md-button class="md-raised md-primary" ng-href="/#!/input">Input Demo</md-button>

        <md-button class="md-raised md-primary" ng-href="/#!/tabs">Tabs Demo</md-button>

        <md-button class="md-raised md-primary" ng-href="/#!/run-webapi">Run WebAPI Demo</md-button>
    </div>
</md-content>