<!-- Toolbar -->
<md-toolbar class="md-toolbar-tools" md-whiteframe="4">
    <md-button class="md-icon-button" ng-href="/#/">
        <i class="material-icons">arrow_back</i>
    </md-button>
    <md-truncate flex>Input Demo</md-truncate>
</md-toolbar>

<!-- Body -->
<md-content>
    <div layout="column" layout-align="space-around center" style="margin:20px;" >

        <!-- Input area -->
        <md-input-container>
            <label>Your Name</label>
            <input ng-model="yourName">
        </md-input-container>
        
        <!-- Button -->
        <md-button class="md-raised md-primary" ng-click="send()">Send</md-button>

        <!-- Message area -->
        <span style="margin:20px;">
            {{message}}
        </span>
    </div>
</md-content>