<!-- Toolbar -->
<md-toolbar class="md-toolbar-tools" md-whiteframe="4">
    <md-button class="md-icon-button" ng-href="/#/">
        <i class="material-icons">arrow_back</i>
    </md-button>
    <md-truncate flex>Run Webapi Demo</md-truncate>
</md-toolbar>

<!-- Body -->
<md-content>
    <div layout="column" layout-align="space-around center" style="margin:20px;" >
        <md-button class="md-raised md-primary" ng-click="runHttp()">run webapi</md-button>
        {{result}}
    </div>
</md-content>