<!-- Toolbar -->
<md-toolbar class="md-toolbar-tools" md-whiteframe="4">
    <md-button class="md-icon-button" ng-href="/#/">
        <i class="material-icons">arrow_back</i>
    </md-button>
    <md-truncate flex>Tabs Demo</md-truncate>
</md-toolbar>

<!-- Body -->
<md-content>
    <div layout="column" layout-align="space-around center" style="margin:20px;" >
        <md-tabs md-dynamic-height md-border-bottom style="width:100%">
          <md-tab label="one">
            <md-content class="md-padding">
              <p>Tab One</p>
            </md-content>
          </md-tab>
          <md-tab label="two">
            <md-content class="md-padding">
              <p>Tab Two</p>
            </md-content>
          </md-tab>
          <md-tab label="three">
            <md-content class="md-padding">
              <p>Tab Three</p>
            </md-content>
          </md-tab>
        </md-tabs>
    </div>
</md-content>